# Data Science + ML
numpy
inference_sdk
roboflow
manga_ocr
deep_translator
roboflow

#Procesamiento y análisis de imágenes
Pillow
pytesseract

#visualización
matplotlib

#interface
streamlit

# api
fastapi
uvicorn
python-multipart

