# Data Science + ML
numpy
inference_sdk
roboflow
manga_ocr
deep_translator

#Procesamiento y análisis de imágenes
Pillow
opencv-python

#visualización
matplotlib

# api
fastapi
uvicorn
python-multipart
requests

